type: custom:apexcharts-card
graph_span: 1d
span:
  start: day
header:
  title: Daily Balance (kWh)
  show: true
apex_config:
  chart:
    stacked: true
    stackType: normal
    animations:
      enabled: false
series:
  - entity: sensor.ec_produced_energy_hour
    name: Production
    color: rgba(233, 188, 5, 1)
    type: column
    stack_group: energy
    group_by: { func: max, duration: 1h, fill: zero }
    show: { in_legend: true, legend_value: false, in_chart: true }

  - entity: sensor.ec_imported_residual_energy_hour
    name: Imported
    color: rgba(0, 128, 255, 1)
    type: column
    stack_group: energy
    group_by: { func: max, duration: 1h, fill: zero }
    show: { in_legend: true, legend_value: false, in_chart: true }

  - entity: sensor.ec_exported_residual_energy_hour
    name: Returned
    color: rgba(127, 17, 224, 1)
    type: column
    stack_group: energy
    transform: |
      if (x === null || x === undefined || isNaN(x)) return null;
      return x * -1;
    group_by: { func: max, duration: 1h, fill: zero }
    show: { in_legend: true, legend_value: false, in_chart: true }

  - entity: sensor.ec_net_battery_flow_hour
    name: Battery Flow
    color: rgba(52, 168, 83, 1)
    type: column
    stack_group: energy
    group_by: { func: max, duration: 1h, fill: zero }
    show: { in_legend: true, legend_value: false, in_chart: true }
